<tr id="task-row-{{task.id}}">

    {% if task.status == Status.DONE %}
    <td>
        <del>{{task.name}}</del>
    </td>
    {% else %}
    <td>{{task.name}}</td>
    {% endif %}

    <td>
        {% if task.status == Status.TODO %}
        <div class="btn btn-danger border">To Do</div>
        {% else %}
        <button class="btn btn-light border">To Do</button>
        {% endif %}

        {% if task.status == Status.DOING %}
        <button class="btn btn-primary border">Doing</button>
        {% else %}
        <button class="btn btn-light border">Doing</button>
        {% endif %}

        {% if task.status == Status.DONE %}
        <button class="btn btn-success border">Done</button>
        {% else %}
        <button class="btn btn-light border">Done</button>
        {% endif %}

    </td>
    <td>
        <a class="m-2">
            <i class="link-dark bi-x-lg"></i>
        </a>
    </td>
</tr>